*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-bar{
    background-color: #000000;
    height: 50px;
}
.first-bar .first-bar-menu{
    width: 85%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.first-bar .first-bar-menu img{
    width: 12px;
    height: 12px;
}
.first-bar .first-bar-menu li{
    list-style: none;
    font-size: 70%;
    margin: 0 1vw;
}
.first-bar .first-bar-menu li a{
    text-decoration: none;
    color: #ffffff;
}
.first-bar .first-bar-menu li:hover{
    border-bottom: #ffff;
    color:#fa6600;
}
/*Main*/
.youtube-video{
    margin-top: 65px;
    height: 610px;
    width: 100%;
}
.welcome-bar{
    background-color: #000000;
    height: 225px;
    width: 100%;
    text-align: center;
    align-items: center;
    color: #ffffff;
    padding: 50px;
}
.welcome-bar h6{
    color: #a83003;
}
/*fpoter*/
footer{
    background: #000000;
    position: sticky;
    top:100%;
    color: #fff
}
.margin-ft{
    padding: 20px 100px ;
    width: 700px;
}
.select-st{
    width: 80px;
    height: 40px;
}

.logo-text{
    padding: 20px 5vw;
}
.footer2{
    padding-left: 5vw;
}
.bar{
    background-color: #ffff;
}
.footer3{
    padding-left: 3vw;
}
.select-st{
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
    border: 1px solid #fa6600;
    border-radius: 5px;
    
}